<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Happypages" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/icon.png" type="image/png">
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
