<!DOCTYPE html>
<html>
  <head>
    <meta name="shopify-api-key" content="<%= ENV.fetch('SHOPIFY_CLIENT_ID') %>" />
    <script src="https://cdn.shopify.com/shopifycloud/app-bridge.js"></script>
    <title><%= content_for(:title) || "Happypages" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
