# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "a0199e1c2d876f0982e33fb33a1d1c0a"
name = "Happypages Friendly Referrals"
application_url = "https://app.happypages.co"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[[webhooks.subscriptions]]
topics = ["orders/create"]
uri = "https://app.happypages.co/webhooks/orders"

[[webhooks.subscriptions]]
compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
uri = "https://app.happypages.co/webhooks/compliance"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_orders,write_discounts"

[auth]
redirect_urls = [ "https://app.happypages.co/auth/shopify/callback" ]
