# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "98f21e1016de2f503ac53f40072eb71b"
name = "Happypages Friendly Referrals"
application_url = "https://app.happypages.co/embedded"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[[webhooks.subscriptions]]
topics = ["orders/create"]
uri = "https://app.happypages.co/webhooks/orders"

[[webhooks.subscriptions]]
compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
uri = "https://app.happypages.co/webhooks/compliance"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,write_customers,read_orders,write_discounts"

[customer.metafields.app.referral_code]
name = "Referral Code"
description = "Customer's unique referral code from Happypages"
type = "single_line_text_field"
access.storefront = "public_read"

[shop.metafields.app.shop_slug]
name = "Shop Slug"
description = "Shop's referral page URL slug"
type = "single_line_text_field"

[auth]
redirect_urls = [ "https://app.happypages.co/auth/shopify/callback" ]
