{% if customer and customer.metafields['app--happypages-friendly-referrals'].referral_code %}
  {% assign slug = shop.metafields['app--happypages-friendly-referrals'].shop_slug %}
  {% assign code = customer.metafields['app--happypages-friendly-referrals'].referral_code %}
  {% if slug and code %}
    <a href="https://app.happypages.co/{{ slug }}/refer?code={{ code }}"
       {{ block.shopify_attributes }}>
      {{ block.settings.link_text }}
    </a>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Refer a Friend Link",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text",
      "default": "Refer a Friend"
    }
  ]
}
{% endschema %}
